{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" >
<style type="text/css" media="screen">
html {

  background: url("{{ url_for('static', filename='end.png') }}") no-repeat center center fixed; 
  background-size: cover;
  text-align: center;

}
</style>
{% endblock %}


{% block body %}
  
<form action="/" method="GET">
  <button class="but">
<h1 class="title">You Died :( The End.</h1>

</button>
</form>
{% endblock %}
